.food {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .FoodLoading{
    text-align: center;
    color:black;
  }
  .food ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  @keyframes food-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  .btn{
    font: inherit;
    cursor: pointer;
    background-color: #da2c18;
    border: 1px solid #da2c18;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 10px;
  }

  .btn:hover,
  .btn:active {
    background-color: #92320c;
    border-color: #92320c;
  }